<!-- formspree contact form --> 
<form class="contact-form" id="contact-form" method="POST">
  <h3> Let's Chat. </h3>
    <input type="text" name="name" id="your-name" 
    placeholder="My name is" required> 

    <input type="email" name="_replyto" id="email" 
    placeholder="and my email is" required>

    <!-- so that you know where email came from --> 
    <input type="hidden" name="_subject" value="blog contact" /> 

    <textarea name="message" id="your-message" placeholder="Here's what's on my mind,"
     class="expanding" required></textarea>

     <!-- return to page after sending form -->
    <input type="hidden" name="_next" value="{{page.url}}" />
    <!-- honeypot field, to avoid spam --> 
    <input type="text" name="_gotcha" style="display:none" />

    <input class="send-button" type="submit" value="Send"> 
</form>

<!-- wrap email attribute in JS for extra security -->
<script>
    var contactform =  document.getElementById('contact-form');
    contactform.setAttribute('action', '//formspree.io/' + '{{site.author.email}}');
</script>

