<form class="subscription-form">
  <h2> Join My Newsletter  </h2>
  <p> Never miss a thing. </p>
  <a class="close-form" id="close-form">x</a>
    
    <input type="text" name="name" id="your-name" minlength="3" 
    placeholder="Name" required> 

    <input type="email" name="_replyto" id="email" 
    placeholder="Email" required>

    <!-- so that you know where email came from --> 
    <input type="hidden" name="_subject" value="email subscriber" /> 
    <!-- return to site after submission --> 
    <input type="text" name="_gotcha" style="display:none" />

     <input class="send-button" type="submit" value="Sign Up"> 
    </form>
</form>


