.fade {
  opacity: 1; 
}


.mini-about {
  background: linear-gradient(to bottom, $gradient-color, #fff 2%);
  @include border-radius(5px);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;

  h1 { font-size: 1.5rem; }
  .avatar {
    max-width: 20%;
    float: left;
    margin-top: .5rem;
    margin-right: .75rem;
    vertical-align: middle;
    @include border-radius(45%);
    border: 3px solid $img-border-color;
    @include box-shadow(-1px 0 5px 2px $img-shadow-color);
  }

  a:visited {
    color: $base-link-color;
  }
}

