

.fixed-banner {
  max-width: $content-width;
  @include border-radius(3px);
  background: linear-gradient(to top, $gradient-color, #fff 20%);
  padding-bottom: 1.25rem;
  position: fixed;
  top: 0;
  left: 4%;
  right: 4%;
  margin-left:  auto;
  margin-right: auto;
  z-index: 2;
  overflow:hidden;
}


.site-title {
  font-size: 2rem;
  letter-spacing: .1rem;
  @include bp-large { padding-left: 1.25rem; }
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4; 


  a:hover, a:visited {
    color: inherit;
  }

  small {
    font-size: 60%;
    font-weight: 400;
    opacity: .5;
    letter-spacing: 0;
    vertical-align: middle;
  }
}

.sign-up {
  display: none;
} 

.sign-up, .site-title {
  @include dim-effect(.5, 1);
}


// added to header on scroll 
.scroll-nav {
  @include box-shadow(0 3px 5px -4px $gray-2);
  transition: all 0.5s;
  margin-top: 0;
  padding-bottom: 0;

  .site-title {
    float: left;
    padding-top: .25rem; 
    padding-bottom: .25rem;
    padding-left: 10%;
    font-size: 1.25rem; 
    small { display: none; }
  }

  .sign-up {
    display: block;
    float: right;
    color: $gray-4;
    padding-top: .25rem; 
    padding-bottom: .25rem;
    padding-right: 10%;
  }

}