---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">Posted on {{ page.date | date_to_string }}.</time>

  {% include share-posts.html %}

  <div class="read-next"> Read Next: 
    {% if page.previous.url %}
    <a class="prev-post" href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% else if page.next.url %}
    <a class="next-post" href="{{page.next.url}}">{{page.next.title}}</a>
    {% else %}
    {% endif %}
  </div>
</article>

